[submodule "testbed/source/base/core"]
	path = testbed/base/core
	url = https://github.com/ekeeke/Genesis-Plus-GX.git
[submodule "extern/jaffarCommon"]
	path = testbed/extern/jaffarCommon
	url = https://github.com/SergioMartin86/jaffarCommon.git
